@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  position: relative;
}

* {
  box-sizing: border-box;
}

@layer base {
  h1 {
    @apply text-5xl font-normal font-serif font-normal;
  }
  h2 {
    @apply text-4xl font-serif font-normal;
  }
  h3 {
    @apply text-3xl font-serif font-semibold;
  }
  h4 {
    @apply text-2xl font-serif font-bold;
  }
  h5 {
    @apply text-xl font-serif font-bold;
  }
  p {
    @apply mb-2;
  }
  body {
    @apply bg-body-white;
    @apply pb-40;
  }
  label {
    @apply text-fantasy-blue;
  }
  input,
  textarea {
    @apply placeholder-earth-brown;
  }
}

nav .active {
  @apply border-earth-brown-dark border-b-2 lg:text-fantasy-blue-active;
}
